<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoDeepLinkNav3"
        android:name=".MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DemoDeepLinkNav3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ReceiveAndHandleDeeplinkActivity"
            android:exported="true"
            android:theme="@style/Theme.DemoDeepLinkNav3">
            <!-- This is intent filter to handle Deeplink request -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.demodeeplinknav3.com"/>
                <!-- filter for exact url deeplink to the /home screen -->
                <uri-relative-filter-group android:allow="true">
                    <data android:path="/home" />
                </uri-relative-filter-group>

                <!-- filter for exactly two path arguments
                 With: [^/]+$ means Regex it matches a sequence of one or more characters (not including /) at the end of a string.-->
                <uri-relative-filter-group android:allow="true">
                    <data android:pathPattern="/users/include/[^/]+$" />
                </uri-relative-filter-group>


                <!-- filter for optional query arguments
                android:query="firstName=value!" means that the query parameter 'firstName' is required, but its value can be anything.
                Example: https://www.demodeeplinknav3.com/users/search?firstName=abc123
                -->
                <uri-relative-filter-group android:allow="true">
                    <data android:path="/users/search" />
                    <data android:query="firstName=value!" />
                </uri-relative-filter-group>

                <!-- It means the query parameter 'minAge' is required
                   But the value can be anything
                   Example: https://www.demodeeplinknav3.com/users/search?minAge=DEF123
                   -->
                <uri-relative-filter-group android:allow="true">
                    <data android:path="/users/search" />
                    <data android:query="minAge=value!" />
                </uri-relative-filter-group>
                <uri-relative-filter-group android:allow="true">
                    <data android:path="/users/search" />
                    <data android:query="maxAge=value!" />
                </uri-relative-filter-group>
                <uri-relative-filter-group android:allow="true">
                    <data android:path="/users/search" />
                    <data android:query="location=value!" />
                </uri-relative-filter-group>
            </intent-filter>
        </activity>

        <activity android:name=".CreateDeepLinkActivity"
            android:exported="true"
            android:theme="@style/Theme.DemoDeepLinkNav3">
        </activity>
    </application>

</manifest>